.admin-reports-container {
    margin-left: 450px;
    display: flex;
    min-height: 100vh;
    background: #1E1E2F; /* Glass effect */
    font-family: 'Inter', sans-serif;
  }
  
  .admin-reports-content {
    flex-grow: 1;
    padding: 30px;
    margin-left: 20px;
    margin-right: 60px;
    margin-bottom: 80px;
    background: rgba(255, 255, 255, 0.1); /* Glass effect */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .admin-reports-content h1 {
    font-size: 32px;
    font-weight: 600;
    color: #eff2f5;
    margin-bottom: 25px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }
  
  .user-search {
    max-width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-left: 20vw;
    gap: 15px;
  }
  
  .user-search label {
    font-size: 18px;
    font-weight: 500;
    color: #fbfbfb;
  }
  
  .user-search select {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.1); /* Glass effect */
    transition: all 0.3s ease;
    color: #000;
  }
  
  .user-search select:hover {
    border-color: #007bff;
    cursor: pointer;
  }
  
  .charts-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    color: #0000;
  }
  
  .chart {
    background: #eff2f5; /* Glass effect */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
    transition: transform 0.3s ease;
    color: #0000;
  }
  
  .chart:hover {
    transform: translateY(-5px);
  }
  
  .chart h2 {
    font-size: 24px;
    font-weight: 600;
    color: #e5e9ed;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }
  
  /* Enhancing tooltips */
  .recharts-tooltip-wrapper {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 8px;
    border-radius: 6px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .admin-reports-content {
      padding: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .chart {
      width: 100%;
    }
  }
  